 .footer {
   font-family: 'Vast Shadow', cursive;
 }

 .map-container {
   border-radius: 5px;
   border: 1px solid grey;
   width: 60%;
   height: 100%;
   
 }

 .mapboxgl-map {
   height: 500px;
   width: 800px;
   margin: 0 auto;
 }

 .main-body {
   display: flex;
   height: 600px;
   margin: 20px;
 }

 .thumbnails {
  border: 1px solid grey;
  background-color: grey;
  margin-left: 10px;
  width: 40%;
  height: 600px;
 }

