 .footer {
   font-family: 'Vast Shadow', cursive;
 }

 .map-container {
   border-radius: 5px;
   border: 1px solid grey;
   width: 50%;
   height: 100%;
   align-content: center;
   margin: 10px auto
 }

 .map {
   width: 100%;
   height: 750px;
   align-content: center;
   border-radius: 15px;

 }

 .mapboxgl-map {
   height: 500px;
   width: 800px;
   margin: 0 auto;
 }

 .main-body {
   display: flex;
   height: 80%;
   margin: 20px;
 }

 .side-section {
  margin-left: 10px;
  width: 50%;
  height: 800px;
  padding-top: 5px;
 }
 
 .sidebar{
  height: 100%;
  border: 1px solid grey;
  align-items: center;
  border-radius: 15px;
  background: radial-gradient(grey, transparent);
}

 .photo {
   width: 750px;
   height: 500px;
 }

 .photo {
   align-content: center;
 }

