.comment-header {
  padding: 10px;
  color: white;
  font-size: 13px;
}

.write-comment-container {
  padding: 50px;
}

.comment-text {
  color: white;
}

.write-comment-input {
  padding: 10px;
  margin-right: 50px;
  width: 70%;
  border-radius: 5px;
}

.write-comment-submit {
  padding: 10px;
  border-radius: 5px;
  background: #1d60e0;
  color: white;
}

.write-comment-submit:hover {
  color: white;
  cursor: pointer;
  background: #107cff;
}
