@fontface {
  font-family: 'Ubuntu', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap')
}

.picture-carousel {
  height: 70%;
  width: 100%;
    
}

.sidebar {
  align-content: center;
}

.view-name {
  font-size: 24px;
  color: white;
  font-weight: 600;
  text-align: center;
  padding-top: 35px;
}

.view-desc {
  font-size: 18px;
  color: white;
  font-weight: 600;
  text-align: justify;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
}

.sidebar-comment-user {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: rgba(21, 3, 100, 0.993);
  
}

.sidebar-comment-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  color: rgb(88, 86, 86);

}

.sidebar-comment-container {
  background: #EEE;
  border-radius: 5px;
  width: 580px;
  height: 100px;
  margin: 0 auto;
  padding: 10px;
  line-height: 18px;
  overflow-y: auto;

}
