@fontface {
  font-family: "Ubuntu", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
}





/* .photoapp-upload {
  position: absolute;
  top: 1%;
  right: 51%;
  z-index: 999;
} */




.upload-photo {
  min-width: 100px;
  height: 30px;
  text-align: center;
  -webkit-text-fill-color: white;
  background: green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.upload-photo:hover {
  background: rgb(29, 153, 29);
}

.photoapp-upload {
  position: absolute;
  top: 12%;
  right: 3vw;
  z-index: 999;
}

.car-icon {
  color: rgb(255, 255, 255);
  font-size: 1.7vw;
}

.car-icon:hover {
  color: rgb(34, 172, 34);
}

.carousel-test {
  /* height: 100% */
  /* height: 50% */
}

.directions-action {
  position: absolute;
  z-index: 999;
  top: 57px;
  right: 42vw;
}

.picture-carousel {
  height: 55vh;

  width: 100%;
}

.sidebar {
  align-content: center;
}

.view-name {
  font-size: 1.1vw;
  color: rgb(254, 248, 248);
  font-weight: 600;
  text-align: right;
  padding-right: 10px;
  padding-top: 0px;
  position: fixed;
  top: 132px;
  z-index: 999;
  /* margin-left: 28%; */
  font-family: "Ubuntu", sans-serif;
  width: 400px;
  right: 5vw;
}

.view-desc {
  font-size: 18px;
  color: white;
  font-weight: 600;
  text-align: justify;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
}

.show-comment-user {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: rgba(21, 3, 100, 0.993);
}

.show-comment-text,
.comment-place-holder {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  color: rgb(88, 86, 86);
}

.comment-section {
  position: relative;
  width: 600px;
  margin: 0 auto;
  padding: 0;
}
.show-comment-container {
  background: #eee;
  border-radius: 5px;
  width: 580px;
  height: 11vh;
  margin: 0 auto;
  padding: 10px;
  line-height: 18px;
  overflow-y: auto;
  /* position: fixed; 
  top: 75vh;
  left: 55%; */
  /* padding-top: 10px;
  position: fixed;
  bottom: 67px; */
}

/* .wc-contain {
  width: 100%;
  align-items: center;
  height: 12%;
  padding-top: 10px;
} */

.write-comment-container {
  background: #eee;
  border-radius: 5px;
  width: 580px;
  height: 12vh;
  margin: 0 auto;
  padding: 10px;
  line-height: 18px;
  overflow-y: auto;
  /* padding-top:0px; */

  /* position: fixed; 
  top: 75vh;
  left: 55%; */
  /* padding-top: 10px;
  position: fixed;
  bottom: 67px; */

  /* position: fixed; 
  top: 75vh;
  left: 55%; */
}

.write-comment-input {
  width: 580px;
  height: 9vh;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  padding: 10px;
}


.show-delete-button {
  min-width: 100px;
  height: 30px;
  text-align: center;
  -webkit-text-fill-color: white;
  background: #920b0b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.write-comment-button {
  width: 120px;
  height: 30px;
  text-align: center;
  -webkit-text-fill-color: white;
  background: #1d60e0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.write-comment-button:hover {
  background: #4891d4;
}

.show-delete-button:hover {
  background: rgb(165, 22, 22);
}

.write-comment-button:active {
}

.sidebar-comment-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
   position: relative;
  z-index: 999; 

  /* position: relative;
  z-index: 999; */
}
.comment-button-container {
  display: flex;
  position: relative;
  /* padding-top: 20px; */
  /* width: 200px;
  right: 20%;
  align-items: left; */
  /* top: 30px; */
  margin: 0 auto;
  justify-content: left;
  /* width: 650px; */
  /* text-align: center; */
  /* margin-left: -325px; */
  margin-top: 2px;
  padding-bottom: 5px;
}

.delete-comment-button {
  all: unset;
  cursor: pointer;
}
.delete-icon {
  color: red;
  font-size: 18px;
}

.write-comment-submit {
  padding: 5px;
  border-radius: 5px;
  background: #1d60e0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
  border: none;
  width: 125px;
}

.write-comment-submit:hover {
  color: white;
  cursor: pointer;
  background: #4186c7;
}

.delete-modal-section {
  width: 700px;
  position: relative;
}

.delete-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(128,128,128,0.5); */
  background-color: rgba(0, 0, 0, 0.7);
}
.delete-modal-container {
  position: absolute;
  top: -80px;
  left: 90px;
  background: #eee;
  border-radius: 5px;
  border: 1px solid gray;
  width: 400px;
  height: 140px;
  padding: 10px;
  line-height: 18px;
  overflow-y: auto;
  text-align: center;
  z-index: 1000;
}

.delete-modal-confirm-sentence {
  font-family: "Ubuntu", sans-serif;
  font-size: 17px;
  color: black;
  padding: 5px;
}

.delete-modal-comment {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  /* color: rgb(88, 86, 86); */
  color: blue;
  padding-top: 20px;
}

.delete-modal-confirm-button {
  padding: 10px;
  border-radius: 5px;
  background: red;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
  min-width: 75px; 
}

.delete-modal-cancel-button {
  padding: 10px;
  border-radius: 5px;
  background: #1d60e0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
}
