@fontface {
  font-family: "Oleo Script", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap");
}

@fontface {
  font-family: "Bigshot One", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Bigshot+One&display=swap");
}

@fontface {
  font-family: "Offside", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Offside&display=swap");
}

@fontface {
  font-family: "Orbitron", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
}

.NavBar.Links2 {
}

.arrow-symbol {
  margin-right: 15px;
  color: rgb(201, 217, 246);
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(12, 131, 229));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrow {
  font-size: 20px;
  font-family: "Oleo Script", cursive;
  margin-right: 40px;
  display: flex;
  margin-top: 6px;
  font-family: "Orbitron", sans-serif;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(12, 131, 229));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-link {
  font-family: "Orbitron", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 0.7em;

  /* background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(12, 131, 229));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

  /* text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em blue, 0 0 0.2em blue; */
  text-shadow: 5px 5px 5px rgb(1, 27, 173);

  
}

.logo-link:hover {
  cursor: pointer;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background: #ecd49c;
  position: absolute;
  top: 20px;
  right: 30px;
}

.NavBar button {
  height: 20px;
}

.Links1 {
  width: 100px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.Links2 {
  margin: 0px;
  display: flex;
  padding-right: 0;
  justify-content: flex-end;
  background: transparent;
}

* {
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
}

.main-logo,
.comment-links {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Knewave", cursive;
  padding-top: 6px;
  font-size: 50px;
  color: rgb(252, 252, 252);
}

.tlink {
  padding: 20px;
}

.link {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.session-button {
  padding: 3px;
}

.submit,
.logout,
.session-button {
  border-radius: 10px;
  margin-top: 10px;
  height: 30px;
  width: 90px;
  color: white;
  font-size: 14px;
}

.submit:hover,
.logout:hover,
.session-button:hover {
  cursor: pointer;
}

.logout {
  float: right;
  all: unset;
  color: white;
  -webkit-text-fill-color: white;
  cursor: pointer;
}

.comment-links {
  width: 100%;
  background-attachment: fixed, fixed, fixed;
  background-image: url(../../assets/images/sf1.jpg),
    linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
  background-position: top left, center center, center center;
  background-size: cover;
  overflow: hidden;
}

.logout-button {
  padding-left: 75%;
  font-size: 30px;
}

.logout-lock {
  font-size: 30px;
  margin-right: 20px;
}

.link {
  color: white;
}

a.link {
  padding: 10px;
}

.t-link {
  display: flex;
  justify-content: space-around;
}

.logout {
  background: none;
  font-size: 27px;
  margin-bottom: 10px;
  margin-top: 0;
}

.logout:hover {
  background-color: transparent;
}

.nav-button-login {
  position: absolute;
  all: unset;
  color: white;
  -webkit-text-fill-color: white;
  cursor: pointer;
  font-size: 30px;
}

.profile-container {
  position: relative;
  right: 10%;
  top: -10px;
}

.main-logo {
  background: transparent;
  padding: 10px;
  padding-top: 1px;
}

.maincontain {
  background-attachment: fixed, fixed, fixed;
  background-image: url(../../assets/images/sf1.jpg),
    linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
  background-position: top left, center center, center center;
  background-size: cover;
  overflow: hidden;
}
