@fontface {
  font-family: "Oleo Script", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap");
}

@fontface {
  font-family: "Bigshot One", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Bigshot+One&display=swap");
}

@fontface {
  font-family: "Offside", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Offside&display=swap");
}

@fontface {
  font-family: "Orbitron", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
}

.NavBar.Links2 {

}

.arrow-symbol {
  margin-right: 4px;
 color: rgb(0, 44, 241);
}

.arrow {
  font-size: 16px;
  font-family: "Oleo Script", cursive;
  margin-right: 0px;
  display: flex;
  margin-top: 9px;
  font-weight: thin;
color:  rgb(0, 44, 241);
background: white; 
height: 18px;
border-radius: 3px; 
padding-left: 8px; 

    -moz-box-shadow: 7px 7px 7px rgba(68, 68, 68, 0.7);
  -webkit-box-shadow: 7px 7px 7px rgba(68, 68, 68, 0.7);
  box-shadow: 7px 7px 7px rgba(68, 68, 68, 0.7);

  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  zoom: 1;
}

.logo-link {
  font-family: "Orbitron", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 0.7em;
    text-shadow: 2px 2px 5px rgb(1, 60, 147);
/* 
  background: -webkit-linear-gradient(rgb(243, 243, 243), rgb(255, 254, 254));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  */
  

  /* text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em blue, 0 0 0.2em blue;
  /* text-shadow: 5px 5px 5px rgb(1, 27, 173); */

  
}

.logo-link:hover {
  cursor: default;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background: #ecd49c;
  position: absolute;
  top: 20px;
  right: 30px;
}

.NavBar button {
  height: 20px;
}

.Links1 {
  width: 100px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.Links2 {
  margin: 0px;
  display: flex;
  padding-right: 0;
  justify-content: flex-end;
  background: transparent;
}

* {
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
}

.main-logo,
.comment-links {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Knewave", cursive;
  padding-top: 6px;
  font-size: 50px;
  color: rgb(252, 252, 252);
}

.tlink {
  padding: 20px;
}

.link {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.session-button {
  padding: 3px;
}

.submit,
.logout,
.session-button {
  border-radius: 10px;
  margin-top: 10px;
  height: 30px;
  width: 90px;
  color: white;
  font-size: 14px;
}

.submit:hover,
.logout:hover,
.session-button:hover {
  cursor: pointer;
}

.logout {
  float: right;
  all: unset;
  color: white;
  -webkit-text-fill-color: white;
  cursor: pointer;
  
}

.comment-links {
  width: 100%;
  background-attachment: fixed, fixed, fixed;
  background-image: url(../../assets/images/sf1.jpg),
    linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
  background-position: top left, center center, center center;
  background-size: cover;
  overflow: hidden;
}

.logout-button {
  margin-right: 30px;
  font-size: 30px;
  
  
}

.logout-lock {
  font-size: 30px;
  margin-right: 20px;
  color: rgb(0, 26, 255);


}

.link {
  color: white;
}

a.link {
  padding: 10px;
}

.t-link {
  display: flex;
  justify-content: space-around;
}

.logout {
  background: none;
  font-size: 27px;
  margin-bottom: 10px;
  margin-top: 0;
  margin-right: 20px;
  
  

}

.logout:hover {
  background-color: transparent;
}

.nav-button-login {
  position: absolute;
  all: unset;
  color: rgb(0, 26, 255);
  -webkit-text-fill-color: white;
  cursor: pointer;
  font-size: 30px;
      -moz-box-shadow: 7px 7px 7px rgba(233, 227, 227, 0.7);
  -webkit-box-shadow: 7px 7px 7px rgba(68, 68, 68, 0.7);
  box-shadow: 7px 7px 7px rgba(178, 178, 176, 0.7);

  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  zoom: 1;

  
}

.profile-container {
  position: relative;
  margin-right: 70px;
  top: -8px;
  margin-left: 10px; 
}

.main-logo {
  background: transparent;
  padding: 10px;
  padding-top: 1px;
}

.maincontain {
  background-attachment: fixed, fixed, fixed;
  background-image: url(../../assets/images/sf1.jpg),
    linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
  background-position: top left, center center, center center;
  background-size: cover;
  overflow: hidden;
}
