.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
  
    
  		/* background-attachment: fixed,							fixed,							fixed;
		 background-image: url(../../assets/images/sf1.jpg), linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
		background-position: top left,						center center,					center center;
		background-size: cover;
		overflow: hidden; */
    
}

.modal-child {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
    background: #008FB8;
    width: 350px;
    height: 400px;
    border-radius: 5px;
    margin: 0 auto;



    background: #008FB8; 
    width: 400px;
    height: 420px;
    border-radius: 2%;
    background:5px; 


      		background-attachment: fixed,							fixed,							fixed;
		/* background-image: url("images/overlay2.png"), url("images/overlay3.svg"), linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2); */
		 background-image: url(../../assets/images/sf1.jpg), linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
		background-position: top left,						center center,					center center;
		background-size: cover;
		overflow: hidden;
/* 
    background:
	linear-gradient(
		limegreen,
		transparent
	),
	linear-gradient(
		90deg,
		skyblue,
		transparent
	),
	linear-gradient(
		-90deg,
		coral,
		transparent
	);
	
background-blend-mode: screen;  */
/* 
background: rgb(26,138,139);
background: linear-gradient(0deg, rgba(26,138,139,1) 0%, rgba(38,75,156,1) 100%); */

 } 



 /* .modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    
}

.modal-child {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500; */ 
    /* background: #008FB8; */
    /* width: 300px;
    height: 400px;
    border-radius: 8%;
    background: blue; 
    opacity: 25% */
    /* background:
	linear-gradient(
		limegreen,
		transparent
	),
	linear-gradient(
		90deg,
		skyblue,
		transparent
	),
	linear-gradient(
		-90deg,
		coral,
		transparent
	);
	
background-blend-mode: screen; 
 /* }  */


